{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block main %}
<div class="container">
    <h4 class="center-align">What is Suggestify?</h4>
    <p>The project is developed keeping in mind the usefulness and complexity of search autocomplete systems. Generally it is difficult and time consuming for developers to implement their own autocomplete system. So, Suggestify provides them with a web based service which provides the functionality of autocomplete by following a simple setup.
    </p>
</div>
{% endblock %}