<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <div class="center">Developed By</div>
                <div class="center" style="font-size: 24">Anmol Saxena</div>
                <div class="center">
                    <a class="" href="https://github.com/anmolsaxena10/suggestify"
                        target="_blank"><i class="fab fa-github fa-2x" style="color: white;" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>