{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align" style="font-family: 'Satisfy', cursive;"><h3>Suggestify</h3></div>
        <div class="col offset-s4">
            <form id="demo-form">
                <input id="demo" type="text" name="demo" placeholder="Start Typing...">
            </form>
        </div>
        <div class="col s12 center-align"><p>Want to use Suggestify in your website ?!</p></div>
        <div class="col s12 center-align"><a href="how_to/">How to</a></div>
        <div class="col s12 center-align"><p>Want to use Suggestify anywhere else ?!</p></div>
        <div class="col s12 center-align"><a href="api_ref/">API Reference</a></div>
</div>

<script>
    const demo = new Suggestify({
        input: document.getElementById("demo"),
        form: document.getElementById("demo-form"),
        token: '{{token}}'
    });
</script>
{% endblock %}