{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="container">
    <form action='register/' method="POST">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="app_name" name="app_name" type="text" class="validate">
                <label for="app_name">Application Name</label>
            </div>
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <input id="password1" name="password1" type="password" class="validate">
                <label for="password1">Confirm Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light red" type="submit" name="action">Register
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}